<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vsphere datastore metrics</title>
</head>

<body>
    <p># HELP vsphere_datastore_capacity datastore capacity </p>
    <p># TYPE vsphere_datastore_capacity gauge</p>
    <p>vsphere_datastore_capacity_bytes{name='NYFCLOUD-TYPE03-VOL'} 1145414090752</p>
    <p>vsphere_datastore_freespace_bytes{name='NYFCLOUD-TYPE03-VOL'} 150457024512</p>
    <p>vsphere_datastore_uncommitted_bytes{name='NYFCLOUD-TYPE03-VOL'} 5498350192533</p>

</body>

</html>